*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
}

:root {
    --color1:#D83E6F;
}

.mycol{
    background-color: var(--color1)!important;
}
/*nav*/
body #navbar{
    z-index: 999999;
    padding-bottom: 0rem;!important;
    padding-top: 0rem;!important;

   
    
}

.nav-link.active{
    background-color: white;
  color:  var(--color1)!important;
}
.navbar-brand {
    padding-left:20px;!important;
}
.nav-link {
    padding-right: 20px;!important;
    padding-left: 20px;!important;
color:rgba(255,255,255,1)!important;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size: 14px;
     line-height: 3;
    letter-spacing: 3px;
    
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: 0rem;!important;
    padding-left: 0rem;!important;
}

/*div1*/
.lato{
  font-family: 'Montserrat', sans-serif;
}
.card{
    border: none;
}
.fc{
    color: rgb(226,110,147)
}

.carousel-control-prev-icon,.carousel-control-next-icon{
    background-image: none;
   
}

.carousel-control-next, .carousel-control-prev{
    opacity: 1;!important;
}
.carousel-dark .carousel-control-next-icon, .carousel-dark .carousel-control-prev-icon{ 
    filter: none;!important;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: rgb(226,110,147);!important;
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}


.card-body .btn{
    color: white;
    background-color:rgb(226,110,147);
}
.card-body .btn:hover{
    border: 2px solid #D83E6F;
    color:#D83E6F ;
    background-color:rgb(255,255,255);
}

footer p{
   padding-top: 25px;
   color: #D83E6F;
}

@media screen and (max-width : 577px)
{
  .formdiv{
    width: 100%!important;
    }
    }
